<footer class="site-footer">
  <ul class="footer-links">
    <li><a href="{{ config.extra.repository }}" target="_blank" rel="noopener noreferrer">{% include "partials/arrow.html" %}<span class="external-link-label">github</span></a></li>
    <li><a href="https://michelangelogubinelli.com" target="_blank" rel="noopener noreferrer">{% include "partials/arrow.html" %}<span class="external-link-label">author</span></a></li>
  </ul>
  <p class="copyright">© 2026 Michelangelo Gubinelli</p>
</footer>
